/* main */

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

/* footer */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}