/* main */

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: var(--space-xl) 0 0;
    position: relative;
}

.bg-top {
    position: absolute;
    top: -10%;
    right: -20%;
    z-index: -1;
}

.bg-bottom {
    display: none;
    position: absolute;
    bottom: 3.5%;
    left: 0;
    z-index: -1;
    scale: 1.2
}

.title {
    color: var(--Gray-650);
    margin-bottom: var(--space-md);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    margin-bottom: var(--space-xl);
}

.wrapper p {
    color: var(--Gray-650);
    opacity: 0.6;
    font-size: var(--fs-sm);
    transition: all 0.2s ease-in;
}

.wrapper p:first-child {
    color: var(--Gray-700);
    opacity: 1;
}

.main:has(.checkbox:checked) .wrapper p:last-child {
    color: var(--Gray-700);
    opacity: 1;
}

.main:has(.checkbox:checked) .wrapper p:first-child {
    color: var(--Gray-650);
    opacity: 0.6;
}

.indicator {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: var(--radius-lg);
    background: var(--button-gradient);
    transition: all 0.2s ease-in;
}

.indicator:hover,
.indicator:focus-within {
    opacity: 0.5;
}

.inner-circle {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 3px;
    top: 2px;
    border: none;
    background-color: var(--White);
    border-radius: var(--radius-circle);
    box-shadow: 0 0 15px var(--White-light);
    transition: all 0.2s ease-in;
}

.indicator:has(.checkbox:checked) .inner-circle {
    transform: translateX(29px)
}

.checkbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

/* Monthly and Annually prices */

.price {
    display: flex;
    font-size: var(--fs-gigantic);
    color: var(--Gray-700);
    font-weight: var(--fw-bold);
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

.monthly {
    display: none;
}

.main:has(.checkbox:checked) .monthly {
    display: flex;
}

.main:has(.checkbox:checked) .annually {
    display: none;
}

/* Plan cards */

.plan-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-lg);
}

.card {
    background-color: var(--White);
    border-radius: var(--radius-lg);
    box-shadow: 0px 0px 15px var(--Black-shadow);
    display: flex;
    flex-direction: column;
    width: clamp(250px, 80vw, 350px);
    height: clamp(400px, 60vw, 480px);
    transition: all 0.4s ease-in-out;
}

/* card animations */

.card:hover,
.card:focus-within {
    scale: 1.03;
}

/* card contents */

.card-title {
    font-size: var(--fs-md);
    color: var(--Gray-650);
    margin: var(--space-lg) 0 0;
}

.dollar {
    font-size: var(--fs-xl);
}

.desc-wrapper {
    margin: var(--space-sm) var(--space-lg);
    padding: var(--space-xs) 0;
    border-top: 1px solid var(--Gray-light);
    border-bottom: 1px solid var(--Gray-light);
}


.description {
    list-style: none;
    color: var(--Gray-700);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
}

.description:nth-child(2) {
    border-top: 1px solid var(--Gray-light);
    border-bottom: 1px solid var(--Gray-light);
    padding: var(--space-xs) 0;
}

.description:first-child {
    padding-bottom: var(--space-xs);
}

.description:last-child {
    padding-top: var(--space-xs);
}

.cta-button {
    margin: var(--space-md) var(--space-lg);
    background: var(--button-gradient);
    height: 45px;
    border-radius: var(--radius-md);
    color: var(--White);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease-in;
}

.cta-button:hover,
.cta-button:focus {
    background: none;
    border: 1px solid var(--Magenta);
    color: var(--Magenta);
    transform: scale(1.02);
}

#professional {
    background: var(--gradient);
    z-index: 20;
}

#professional:hover,
#professional:focus-within {
    scale: 1.03;
}

#professional .card-title,
#professional .price,
#professional .description {
    color: var(--White)
}

#professional .cta-button {
    background: none;
    background-color: var(--White);
    color: var(--Magenta)
}

#professional .cta-button:hover,
#professional .cta-button:focus {
    background: transparent;
    border: 1px solid var(--White);
    color: var(--White);
}

/* Footer */

.footer {
    font-size: var(--fs-sm);
    text-align: center;
}

.credit {
    color: var(--Gray-650);
}

/* Desktop layout */
/* 992px = 62rem based on 16px root HTML defualt font size */
@media screen and (min-width: 62rem) {
    .plan-cards {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        justify-content: space-between;
    }

    .card:first-child:hover,
    .card:first-child:focus-within {
        transform: translateX(-20px);
    }

    .card:last-child:hover,
    .card:last-child:focus-within {
        transform: translateX(20px);
    }

    .cta-button {
        margin: var(--space-lg)
    }

    #professional {
        scale: 1.15;
    }

    #professional:hover,
    #professional:focus-within {
        scale: 1.16;
    }

    .bg-top {
        top: -5%;
        right: 0;
    }

    .bg-bottom {
        display: block;
    }
}

/* Transition accessibility fix */

@media (prefers-reduced-motion: reduce) {
    * {
        transition: all 0.01ms linear !important;
    }
}